.results-title {
    color: #4f4e4e;
    font-size: 3em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
}

.results-title > .title-sections {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
}

.results-title > .title-sections > .text-portion {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    color: #9d9d9d;
}

.results-title > .title-sections > .text-portion .title-section-divider {
    margin-bottom: 6px;
}

.results-title > .title-sections > .text-portion > *:last-child {
    color: #4f4e4e;
}

.results-title > .sub-title-sections {
    font-size: 0.35em;
    color: rgb(157, 157, 157);
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.results-title > .sub-title-sections > .sub-title-section {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.results-title > .sub-title-sections > .sub-title-section > .status-bubble {
    font-size: 0.7em;
}
