$base-color: #008491;
$bg-color: #ffffff;
$accent: $base-color;
$accent-light: #00a7b6;
$accent-lighter: #00b5c6;
$accent-dark: #00747e;
$accent-darker: #005f68;
$severity-critical: #000;
$severity-high: #bf1313;
$severity-medium: #ffc107;
$severity-low: #5a9d09;
$severity-none: #09889d;
$severity-bar-class-critical: #4b4242;
$severity-bar-value-critical: #dadada;
$severity-bar-class-high: #ae5e5e;
$severity-bar-value-high: #d7afaf;
$severity-bar-class-medium: #cca067;
$severity-bar-value-medium: #ddcfae;
$severity-bar-class-low: #9dae5e;
$severity-bar-value-low: #d7ddae;
$severity-bar-class-none: #397680;
$severity-bar-value-none: #94c2ca;
$severity-bar-class-disabled: #acacac;
$severity-bar-value-disabled: #d3d3d3;
$patch-type-full: #5a9d09;
$patch-type-partial: #ffc107;
$patch-type-none: #ee2626;
$cvss-field-value-high: #ee2626;
$cvss-field-value-medium: #ffaa07;
$cvss-field-value-low: #5a9d09;
$primary-color: black;
$secondary-color: $base-color;
$font-color-light-gray: rgb(75, 75, 75);
$project-grade-a: #5a9d09;
$project-grade-b: #ffee07;
$project-grade-c: #ff9c07;
$project-grade-d: #bf1313;
